<tr>
    <td class="one-column" style="padding-top:0px;padding-bottom:18px;padding-right:40px;padding-left:40px;">
        <style>sup { line-height: 0; font-size: 75%; }</style>
        <!--[if gte mso 9]><style>sup { font-size: 100% !important; }</style><![endif]-->
        <table class="contents" align="center" style="border-spacing:0;font-family:Helvetica, Arial,sans-serif;color:#565656;Margin:0 auto;width:100%;max-width: 408px;">
            <!-- <tr>
                <td class="contents" style="padding-top:20px;padding-bottom:0;padding-right:0px;padding-left:0px;border-top-width:4px;border-top-style:solid;border-top-color:#E88321;">
                    <p style="Margin:0;font-size:14px;line-height:17px;color: #565656;">
                        <strong>Is it time to move on from topicals alone in treating chronic plaque psoriasis?</strong>
                    </p>
                </td>
            </tr> -->
            <tr>
                <td class="contents" style="padding-top:0;padding-bottom:0;padding-right:0px;padding-left:0px;">
                    <table width="100%" style="border-spacing:0;font-family:Helvetica, Arial,sans-serif;background-color:#FFFFFF;">
                        <tr>
                            <td class="contents" style="padding-top:0px;padding-bottom:20px;padding-left:0px;padding-right: 0px;width:100%;text-align:left; Margin:0;font-size:12px;line-height:16px;color: #565656;border-top-width:4px;border-top-style:solid;border-top-color:#E88321;">
                                <p style="Margin:0;font-size:14px;line-height:17px;color: #565656">&nbsp;<br>
                                    Dr Linda Stein Gold discusses Otezla<sup>&reg;</sup> (apremilast) efficacy in the clinically challenging psoriasis manifestations of scalp, nail and palmoplantar psoriasis.<sup>1<!--{{CitationNumber[1]}}--></sup> She reviews outcomes from ESTEEM 1 and 2 trials in patients with these manifestations at baseline.<sup>2-5<!--{{CitationNumber[2]}}-{{CitationNumber[5]}}--></sup>
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- IMG -->
            <tr>
                <td class="contents" style="padding-top:0;padding-bottom:0;padding-right:0px;padding-left:0px;">
                    <table width="100%" style="border-spacing:0;font-family:Arial,sans-serif;">
                        <tr>
                            <td class="" align="center" style="width:100%;font-size:8px;line-height:12px;padding-top:0;padding-bottom:12px;padding-right:0;padding-left:0;text-align:center;">
                                <!--[if (gte mso 9)|(IE)]>
                                <table width="100%" style="border-spacing:0;font-family:Arial,sans-serif;color:#896857;">
                                <tr>
                                <td width="100%" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                                <![endif]-->
                                <div class="" style="width:100%;max-width:408px;display:inline-block;vertical-align:top;">
                                    <table align="center" width="100%" style="border-spacing:0;font-family:Arial,sans-serif;color:#404041;">
                                        <tr>
                                            <td class=" contents" style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;width:100%;text-align:left;">
                                                <img align="center" border="0" src="./images/fr_img.png" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; clear: both; border: 0; height: auto; float: none; width: 100%; max-width: 408px; display: inline-block;" title="Otezla: Efficacy in scalp, nail and palmoplantar psoriasis" alt="Otezla: Efficacy in scalp, nail and palmoplantar psoriasis" width="408" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!--[if (gte mso 9)|(IE)]>
                                </td>
                                </tr>
                                </table>
                                <![endif]-->
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <!-- CTA -->
            <tr>
                <td class="contents" style="padding-top:6px;padding-bottom:20px;width:100%;text-align:center;">
                    <table style="display:inline-block;border-spacing:0;font-family:Helvetica, Arial,sans-serif;color:#FFFFFF;">
                        <tr>
                            <td style="padding-top:0px;padding-bottom:0;padding-left: 70px;padding-right: 70px; background-color:#E88321;">
                                <table height="30" border="0" cellspacing="0" cellpadding="0" bgcolor="#E88321" class="cta" style="border-spacing:0;font-family:Helvetica, Arial,sans-serif;color:#FFFFFF;">
                                    <tr>
                                        <td class="text-btn" style="color:#ffffff;font-family:Helvetica, Arial, Helvetica, sans-serif;min-width:auto !important;font-size:14px;line-height:17px;text-align:center;font-weight:bold;padding-top:5px;padding-bottom:5px;padding-right:0;padding-left:0;">
                                            <a href="https://www.gotezla.com.au/video/558879304" target="_blank" style="text-decoration:none;color:#FFFFFF;"><span style="color:#ffffff;text-decoration:none;font-family:Helvetica, Arial,sans-serif; padding-bottom: 0;padding-right:0;padding-left:0;padding-top: 0;display: block;">Watch this video &#91;2:34&#93;</span></a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>            

            <tr>
                <td class="contents" style="padding-top:0;padding-bottom:18px;padding-right:0px;padding-left:0px;border-top-width:1px;border-top-style:solid;border-top-color:#565656;">
                    <table width="100%" style="border-spacing:0;font-family:Helvetica, Arial,sans-serif;color:#000000;">
                        <tr>
                            <td class=" contents" style="padding-top:20px;padding-bottom:0;width:100%;text-align:center;">
                                <p class="frag_body" style="Margin:0;color:#000000;font-size:11px;line-height:11px;">AU-15713. August 2021. HAMG503.</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>


<!-- {{CitationStart}} -->
<p style="Margin:0;font-size:10px;line-height:10px;Margin-bottom:5px;color:#6a6a6a;font-family:Helvetica, Arial,sans-serif;"><strong>1<!--{{CitationNumber[1]}}-->.</strong> Aldredge LM, Higham RC. JDNA 2018;10(4):189&ndash;97.</p>
<p style="Margin:0;font-size:10px;line-height:10px;Margin-bottom:5px;color:#6a6a6a;font-family:Helvetica, Arial,sans-serif;"><strong>2<!--{{CitationNumber[2]}}-->.</strong> Otezla<sup>&reg;</sup> (apremilast) Product Information.</p>
<p style="Margin:0;font-size:10px;line-height:10px;Margin-bottom:5px;color:#6a6a6a;font-family:Helvetica, Arial,sans-serif;"><strong>3<!--{{CitationNumber[3]}}-->.</strong> Papp K, <i>et al. J Am Acad Dermatol</i> 2015;73:37&ndash;49.</p>
<p style="Margin:0;font-size:10px;line-height:10px;Margin-bottom:5px;color:#6a6a6a;font-family:Helvetica, Arial,sans-serif;"><strong>4<!--{{CitationNumber[4]}}-->.</strong> Paul C, <i>et al. Br J Dermatol</i> 2015;173:1387&ndash;99.</p>
<p style="Margin:0;font-size:10px;line-height:10px;Margin-bottom:5px;color:#6a6a6a;font-family:Helvetica, Arial,sans-serif;"><strong>5<!--{{CitationNumber[5]}}-->.</strong> Rich P, <i>et al. J Am Acad Dermatol</i> 2016;74:134&ndash;42.</p>
<!-- {{CitationEnd}} -->
