<!-- SFMC SAMPLE CODE FOR AN IMAGE BLOCK THAT WE WANT TO SHOW IN MOBILE BUT HIDE IN DESKTOP -->
<table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-hide: all;">
    <tr>
        <td align="center">
            <img 
            data-assetid="1187" 
            src="http://image.email-epicx.roche.com/lib/fe3815707564077b751277/m/1/6a9dfa73-fd69-403d-acb8-93fb36ca6bea.jpg" 
            alt="" 
            width="480" 
            style="display: none; padding: 0px; text-align: center; height: auto; width: 100%; border: 0px;" 
            class="mobile-show">
        </td>
    </tr>
</table>

<!-- THIS WILL NEED TO BE ADDED IN THE HEAD OF THE SFMC EMAIL-->
<style type="text/css">
    @media only screen and (max-width: 480px) {
      .mobile-show { display:block !important; } /* specifically this line */
    }
</style>
