<tr>
    <td class="one-column" style="padding-top:0px;padding-bottom:18px;padding-right:40px;padding-left:40px;">
        <style>sup { line-height: 0; font-size: 75%; }</style>
        <!--[if gte mso 9]><style>sup { font-size: 100% !important; }</style><![endif]-->
        <table class="contents" align="center" style="border-spacing:0;font-family:Helvetica, Arial,sans-serif;color:#565656;Margin:0 auto;width:100%;max-width: 520px;">
            <!-- <tr>
                <td class="contents" style="padding-top:20px;padding-bottom:0;padding-right:0px;padding-left:0px;border-top-width:4px;border-top-style:solid;border-top-color:#E88321;">
                    <p style="Margin:0;font-size:14px;line-height:17px;color: #565656;">
                        <strong>Is it time to move on from topicals alone in treating chronic plaque psoriasis?</strong>
                    </p>
                </td>
            </tr> -->
            <tr>
                <td class="contents" style="padding-top:0;padding-bottom:0;padding-right:0px;padding-left:0px;">
                    <table width="100%" style="border-spacing:0;font-family:Helvetica, Arial,sans-serif;background-color:#FFFFFF;">
                        <tr>
                            <td class="contents" style="padding-top:0px;padding-bottom:20px;padding-left:0px;padding-right: 0px;width:100%;text-align:left; Margin:0;font-size:12px;line-height:16px;color: #565656;border-top-width:4px;border-top-style:solid;border-top-color:#E88321;">
                                <p style="Margin:0;font-size:14px;line-height:17px;color: #565656">&nbsp;<br>
                                    Hear international guest speaker <strong>Dr Linda Stein Gold</strong> and local experts <strong>A/Prof Peter Foley</strong> and <strong>Dr Diana Rubel</strong> discuss how Otezla<sup>&reg;</sup> (apremilast) can give your psoriasis patients broad and sustained symptom improvement,<sup>{{CitationNumber[1]}}-{{CitationNumber[3]}}</sup> and how to access Otezla on the Pharmaceutical Benefits Scheme.
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- IMG -->
            <tr>
                <td class="contents" style="padding-top:0;padding-bottom:0;padding-right:0px;padding-left:0px;">
                    <table width="100%" style="border-spacing:0;font-family:Arial,sans-serif;">
                        <tr>
                            <td class="" align="center" style="width:100%;font-size:8px;line-height:12px;padding-top:0;padding-bottom:12px;padding-right:0;padding-left:0;text-align:center;">
                                <!--[if (gte mso 9)|(IE)]>
                                <table width="100%" style="border-spacing:0;font-family:Arial,sans-serif;color:#896857;">
                                <tr>
                                <td width="100%" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                                <![endif]-->
                                <div class="" style="width:100%;max-width:520px;display:inline-block;vertical-align:top;">
                                    <table align="center" width="100%" style="border-spacing:0;font-family:Arial,sans-serif;color:#404041;">
                                        <tr>
                                            <td class=" contents" style="padding-top:0px;padding-bottom:0px;padding-right:16px;padding-left:16px;width:100%;text-align:left;">
                                                <img align="center" border="0" class="" src="http://images.swordfishmedia.com.au/amgen/HAMG384/fragment/holding_slide_otezla.jpg" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; clear: both; border: 0; height: auto; float: none; width: 100%; max-width: 520px; display: inline-block;" title="" width="520" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!--[if (gte mso 9)|(IE)]>
                                </td>
                                </tr>
                                </table>
                                <![endif]-->
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <!-- CTA -->
            <tr>
                <td class="contents" style="padding-top:6px;padding-bottom:20px;width:100%;text-align:center;">
                    <table style="display:inline-block;border-spacing:0;font-family:Helvetica, Arial,sans-serif;color:#FFFFFF;">
                        <tr>
                            <td style="padding-top:0px;padding-bottom:0;padding-left: 40px;padding-right: 40px; background-color:#E88321;">
                                <table height="30" border="0" cellspacing="0" cellpadding="0" bgcolor="#E88321" class="cta" style="border-spacing:0;font-family:Helvetica, Arial,sans-serif;color:#FFFFFF;">
                                    <tr>
                                        <td class="text-btn" style="color:#ffffff;font-family:Helvetica, Arial, Helvetica, sans-serif;min-width:auto !important;font-size:14px;line-height:17px;text-align:center;font-weight:bold;padding-top:5px;padding-bottom:5px;padding-right:0;padding-left:0;">
                                            <a href="https://www.gotezla.com.au/?w21marp1" target="_blank" style="text-decoration:none;color:#FFFFFF;"><span style="color:#ffffff;text-decoration:none;font-family:Helvetica, Arial,sans-serif; padding-bottom: 0;padding-right:0;padding-left:0;padding-top: 0;display: block;">Access the webinar recording</span></a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td class="contents" style="padding-top:0;padding-bottom:20px;padding-right:0px;padding-left:0px;">
                    <table width="100%" style="border-spacing:0;font-family:Helvetica, Arial,sans-serif;background-color:#FFFFFF;">
                        <tr>
                            <td class="contents" style="padding-top:0px;padding-bottom:6px;padding-left:0px;padding-right: 0px;width:100%;text-align:left; Margin:0;font-size:12px;line-height:12px;color: #565656;">
                                <p style="Margin:0;font-size:12px;line-height:14px;color: #565656">&nbsp;<br>
                                    Registration to <a style="Margin:0;font-size:12px;line-height:12px;color: #565656" href="https://www.GOtezla.com.au" target="_blank">GOtezla.com.au</a> is required to view this content.
                                </p>
                                <p style="Margin:0;font-size:12px;line-height:14px;color: #565656">&nbsp;<br>
                                    *Otezla<sup>&reg;</sup> tablets are indicated for adult patients with moderate to severe plaque psoriasis who are candidates for phototherapy or systemic therapy.<sup>{{CitationNumber[1]}}</sup>
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td class="contents" style="padding-top:0;padding-bottom:18px;padding-right:0px;padding-left:0px;border-top-width:1px;border-top-style:solid;border-top-color:#565656;">
                    <table width="100%" style="border-spacing:0;font-family:Helvetica, Arial,sans-serif;color:#000000;">
                        <tr>
                            <td class=" contents" style="padding-top:20px;padding-bottom:0;width:100%;text-align:center;">
                                <p class="frag_body" style="Margin:0;color:#000000;font-size:11px;line-height:11px;">AU-14955. March 2021. HAMG384b.</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>


{{CitationStart}}
<p style="Margin:0;font-size:10px;Margin-bottom:0px;color:#6a6a6a;font-family:Arial,sans-serif;"><strong>{{CitationNumber[1]}}.</strong> Otezla<sup>&reg;</sup> (apremilast) Product Information available at <a target="_blank" href="http://www.amgen.com.au/Otezla.PI" style="Margin:0;font-size:10px;Margin-bottom:0px;color:#6a6a6a;font-family:Arial,sans-serif;">www.amgen.com.au/Otezla.PI</a></p>
<p style="Margin:0;font-size:10px;Margin-bottom:0px;color:#6a6a6a;font-family:Arial,sans-serif;"><strong>{{CitationNumber[2]}}.</strong> Papp K,<i>et al. J Am Acad Dermatol</i> 2015;73:37-49.</p>
<p style="Margin:0;font-size:10px;Margin-bottom:0px;color:#6a6a6a;font-family:Arial,sans-serif;"><strong>{{CitationNumber[3]}}.</strong> Paul C, <i>et al. Br J Dermatol</i> 2015;173:1387-99.</p>
{{CitationEnd}}
